<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/Style.css">
  <title>Cadastrar Produto</title>
</head>

<body>
  <div class="d-flex">
    <!-- Sidebar -->
    <div class="bg-orange sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('paginaInicial') }}">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('cadastrar_produto') }}">Cadastrar Produto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ url_for('cadastrar_produto') }}">Cadastrar Produto</a>
              </li>
            </ul>
        </div>
    </div>


  <div class="tabela-cadastro"> 
    <form method="post" action="/adicionar_produto">
      <fieldset>
        <legend>Digite as Informações do Produto</legend>
        <div>
          <label for="txtRastreio">Rastreio do produto:</label>
          <input type="text" name="txtRastreio" id="txtRastreio" required>
        </div>
        <div>
          <label for="txtTipo">Tipo do Produto:</label>
          <input type="text" name="txtTipo" id="txtTipo" required>
        </div>
        <div>
          <label for="txtData">Previsão de Data de Recebimento:</label>
          <input type="date" name="txtData" id="txtData" required>
        </div>
        <div>
          <label for="txtDescricao">Descrição</label> <!-- Corrigi o ID para 'txtDescricao' -->
          <input type="text" name="txtDescricao" id="txtDescricao" required> <!-- Corrigi o ID para 'txtDescricao' -->
        </div>
        <button type="submit">Cadastrar Produto</button>
      </fieldset>
    </form>
  </div>


</body>

</html>