<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/Style.css">
    <title>tela inicial</title>
</head>
<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('paginaInicial') }}">Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('cadastrar_produto') }}">Cadastrar Produto</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main content -->
        <div class="content flex-grow-1">
            <button class="menu-button" id="menu-icon">
                <ion-icon name="menu"></ion-icon>
            </button>
            <div class="tabela">
                <h1 class="titulo-tabela">Produtos Cadastrados</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Rastreio</th>
                            <th>Data de Recebimento</th>
                            <th>Status</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Product in Produtos %}
                        <tr>
                            <td>{{Product.rastreio_pedido}}</td>
                            <td>{{Product.datareceb_prod}}</td>
                            <td>
                                <p class="stats">A caminho</p>
                            </td>
                            <td><a class="stats" href="/apagar_produto/{{ Product.id_produto }}">Apagar</a></td>
                            <td><a class="stats" href="/editar_produto/{{ Product.id_produto }}">Editar</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
