@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
}

input:focus {
    border-style: none;
    border: 0 none;
    box-shadow: 0 0 0 0;
}

.sidebar {
    width: 10%;
    /* Altera a largura para ocupar toda a lateral da página */
    height: 650px;
    /* Define a altura para ocupar toda a altura da janela */
    position: fixed;
    top: 0;
    left: 0;
    /* Posiciona a sidebar no canto superior esquerdo */
    background-color: rgba(255, 115, 34, 0.55);
    /* Cor laranja com 55% de opacidade */
    backdrop-filter: blur(5px);
    /* Adiciona o efeito de desfoque */
}

.sidebar:hover {
    background-color: rgba(255, 115, 34, 0.8);
    /* Cor laranja com 80% de opacidade ao passar o cursor */
}

/* Estilo para a tabela na página de produtos cadastrados */
.tabela {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    max-width: 800px;
    /* Ajuste conforme necessário */
    width: 100%;
    margin: auto;
    /* Centraliza a tabela horizontalmente */
    transition: background-color 1s;
    /* Transição de cor de 1 segundo */
    backdrop-filter: blur(5px);
    /* Efeito de desfoque */
}

/* Hover para alterar a cor para laranja */
.tabela:hover {
    background-color: #ff7322;
}

/* Estilo para a tabela na página de cadastrar produtos */
.tabela-cadastro {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    max-width: 550px;
    height: 650px;
    /* Ajuste conforme necessário */
    width: 100%;
    /*ajuste vertical e horizontal*/
    margin: auto;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centraliza a tabela horizontalmente */
    backdrop-filter: blur(5px);
    /* Efeito de desfoque */
    transition: background-color 1s;
    /* Transição de cor de 1 segundo */
}

.titulo-tabela {
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Hover para alterar a cor para laranja */
.tabela-cadastro:hover {
    background-color: #ff7322;
}

/* Estilo para as caixas de texto na tabela de cadastrar produtos */
.tabela-cadastro input[type="text"],
.tabela-cadastro input[type="date"] {
    width: 100%;
    padding: 0.5rem 0;
    /* Ajusta o preenchimento (padding) vertical */
    margin-bottom: 1rem;
    /* Espaçamento inferior */
    border: none;
    /* Remove a borda */
    border-bottom: 1px solid transparent;
    /* Adiciona apenas a linha de baixo */
    background: none;
    /* Remove o fundo */
    color: #fff;
    /* Cor do texto */
    text-align: left;
    /* Alinha o texto à esquerda */
    border-radius: 5px;
    /* Bordas arredondadas */
    transition: border-color 1s;
    /* Transição de cor da borda de 1 segundo */
}

/* Cor do contorno branco para caixas de texto quando o cursor estiver sobre a tabela */
.tabela-cadastro:hover input[type="text"],
.tabela-cadastro:hover input[type="date"] {
    border-color: #fff;
}

/* Justifica o texto dentro das caixas de texto */
.tabela-cadastro input[type="text"],
.tabela-cadastro input[type="date"],
.tabela-cadastro label {
    text-align: justify;
}

/* Centraliza o conteúdo dentro da tabela de cadastrar produtos */
.tabela-cadastro fieldset {
    text-align: center;
}

/* Alinha a label na frente da caixa de texto */
.tabela-cadastro label {
    display: block;
    /* Mostra as labels como blocos */
    margin-bottom: 0.5rem;
    /* Espaçamento inferior */
    font-weight: bold;
    /* Deixa o texto em negrito */
}

/* Estilo para o botão de cadastrar produtos */
.tabela-cadastro button[type="submit"] {
    width: 100%;
    /* Ocupa toda a largura disponível */
    padding: 1rem;
    /* Aumenta o preenchimento do botão */
    background-color: #ff5722;
    /* Cor de fundo */
    border: none;
    /* Remove a borda */
    border-radius: 10px;
    /* Bordas arredondadas */
    font-size: 1.2rem;
    /* Tamanho da fonte */
    color: #fff;
    /* Cor do texto */
    cursor: pointer;
    /* Cursor de ponteiro ao passar por cima */
    transition: background-color 1s, transform 0.3s;
    /* Transições de cor e escala */
}

/* Hover para ajustar a cor e a escala do botão */
.tabela-cadastro button[type="submit"]:hover {
    background-color: #e64a19;
    /* Cor de fundo no hover */
    transform: scale(1.05);
    /* Aumenta a escala no hover */
}

.divBusca {
    display: flex;
    align-items: center;
    border: solid 0px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-left: 4px; /* Ajustado para 2px para mover 1px para a direita */
    height: 37px;
    width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: background-color 1s, border-color 1s;
}

/* Hover para o campo de busca */
.divBusca:hover {
    background-color: rgba(255, 115, 34, 0.5);
    /* Fundo laranja com 55% de opacidade */
    border-color: rgba(255, 115, 34, 0.8);
    /* Cor da borda laranja */
}

.txtBusca {
    float: left;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 100%;
    color: white;
    backdrop-filter: blur(5px);
    transition: border-color 1s;
    border-radius: 5px;
}

.txtBusca::placeholder {
    color: white;
    opacity: 0.7;
}

.btnBusca {
    float: left;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-style: none;
}

.modificar-tabela {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    max-width: 500px;
    /* Ajuste conforme necessário */
    width: 100%;
    margin: auto;
    /* Centraliza a tabela horizontalmente */
    backdrop-filter: blur(5px);
    /* Efeito de desfoque */
    transition: background-color 1s;
    /* Transição de cor de 1 segundo */
    text-align: center;
    /* Alinha o texto ao centro */
}

/* Adicionando os estilos para campos de data e hover da tabela de cadastro */
.modificar-tabela input[type="text"],
.modificar-tabela input[type="date"] {
    width: 100%;
    padding: 0.5rem 0;
    /* Ajusta o preenchimento (padding) vertical */
    margin-bottom: 1rem;
    /* Espaçamento inferior */
    border: none;
    /* Remove a borda */
    border-bottom: 1px solid transparent;
    /* Adiciona apenas a linha de baixo */
    background: none;
    /* Remove o fundo */
    color: #fff;
    /* Cor do texto */
    text-align: left;
    /* Alinha o texto à esquerda */
    border-radius: 5px;
    /* Bordas arredondadas */
    transition: border-color 1s;
    /* Transição de cor da borda de 1 segundo */
}

/* Cor do contorno branco para caixas de texto quando o cursor estiver sobre a tabela */
.modificar-tabela:hover input[type="text"],
.modificar-tabela:hover input[type="date"] {
    border-color: #fff;
}

/* Justifica o texto dentro das caixas de texto */
.modificar-tabela input[type="text"],
.modificar-tabela input[type="date"],
.modificar-tabela label {
    text-align: justify;
}

/* Alinha a label na frente da caixa de texto */
.modificar-tabela label {
    display: block;
    /* Mostra as labels como blocos */
    margin-bottom: 0.5rem;
    /* Espaçamento inferior */
    font-weight: bold;
    /* Deixa o texto em negrito */
}

/* Estilo para o botão de editar produtos */
.modificar-tabela button[type="submit"] {
    width: 100%;
    /* Ocupa toda a largura disponível */
    padding: 1rem;
    /* Aumenta o preenchimento do botão */
    background-color: #ff5722;
    /* Cor de fundo */
    border: none;
    /* Remove a borda */
    border-radius: 10px;
    /* Bordas arredondadas */
    font-size: 1.2rem;
    /* Tamanho da fonte */
    color: #fff;
    /* Cor do texto */
    cursor: pointer;
    /* Cursor de ponteiro ao passar por cima */
    transition: background-color 1s, transform 0.3s;
    /* Transições de cor e escala */
}

/* Hover para ajustar a cor e a escala do botão */
.modificar-tabela button[type="submit"]:hover {
    background-color: #e64a19;
    /* Cor de fundo no hover */
    transform: scale(1.05);
    /* Aumenta a escala no hover */
}
/* Hover para alterar a cor para laranja */
.modificar-tabela:hover {
    background-color: #ff7322;
}

/* Cor do contorno branco para caixas de texto quando o cursor estiver sobre a tabela */
.modificar-tabela:hover input[type="text"],
.modificar-tabela:hover input[type="date"] {
    border-color: #fff;
}

.logout-botao {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    text-shadow: #e64a19;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

td,
th {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 8px;
}

thead th {
    border-top: 1px solid #fff;
}

tr:hover {
    background-color: #ff7322;
}

.stats {
    border: 1px solid #fff;
    border-radius: 55px;
    width: 100%;
    text-align: center;
    background-color: #FF5100;
    color: #fff;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #FE7912;
}

@media (max-width: 490px) {
    .produtos {
        width: 90%;
    }

    .stats {
        border: 1px solid black;
        border-radius: 55px;
        width: 90%;
        align-items: center;
        text-align: center;
        background-color: #FF4500;
        color: #f2f2f2;
    }

    .centro {
        width: 100%;
        text-align: center;
        margin: 100px 0 auto;
    }
}

/* Additional styles for sidebar and responsive adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 150px;
    }

    /* Centraliza a tabela verticalmente e horizontalmente */
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
}
